@page
@model Classrooms.Pages.ClassroomsModel
@{
         ViewData["Title"] = "Classrooms page";
}
<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    <tr>
        <td>@Model.Lamarr.Name</td>
        <td>@Model.Lamarr.Id</td>
    </tr>
    <tr>
        <td>@Model.Kendrick.Name</td>
        <td>@Model.Kendrick.Id</td>
    </tr>
    <tr>
        <td>@Model.Giertz.Name</td>
        <td>@Model.Giertz.Id</td>
    </tr>
</table>
