@page
@model Students.pages.StudentsModel
@{
        ViewData["Title"] = "Students page";
}
<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Class ID</th>
    </tr>
    <tr>
        <td>@Model.Besart.Name</td>
        <td>@Model.Besart.Id</td>
        <td>@Model.Besart.ClassId</td>
    </tr>
    <tr>
        <td>@Model.Mo.Name</td>
        <td>@Model.Mo.Id</td>
        <td>@Model.Mo.ClassId</td>
    </tr>
    <tr>
        <td>@Model.Pablo.Name</td>
        <td>@Model.Pablo.Id</td>
        <td>@Model.Pablo.ClassId</td>
    </tr>
    <tr>
        <td>@Model.Lucas.Name</td>
        <td>@Model.Lucas.Id</td>
        <td>@Model.Lucas.ClassId</td>
    </tr>
    <tr>
        <td>@Model.Shiva.Name</td>
        <td>@Model.Shiva.Id</td>
        <td>@Model.Shiva.ClassId</td>
    </tr>
    <tr>
        <td>@Model.Zeno.Name</td>
        <td>@Model.Zeno.Id</td>
        <td>@Model.Zeno.ClassId</td>
    </tr>

</table>